<h1>Welcome to Articles</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Descriptiont</th></th>
  </tr>
<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td><nbspc></nbspc>
    <td><%= article.description %></td>
     <td><%= link_to 'Check the details', article_path(article.id) %></td>
     <td><%= link_to "Edit article", edit_article_path(article.id),data: {confirm: "Are you sure?"} %></td>
     <td><%=link_to 'delete', article_path(article.id),method: :delete,data:{confirm:"Are you sure delete?"}%></td>    
     </tr>
     <%end%>
     </table>
     <br>
     <%=link_to'create new article',new_article_path%>